<h1>League History<br>{{ info[0][0] }}</h1>
<img src="../static/images/leagues/{{ info[0][2] }}" />
<table class="league_history">
    <thead>
    <tr>
        <th>Year</th>
        <th>Champion</th>
        <th>Best Hitter</th>
        <th>Best Pitcher</th>
        <th>Best Rookie</th>
    </tr>
    </thead>
    {% for entry in league_history %}
    <tr>
        <td><a href="../lg_history/{{ entry[1] }}/{{ entry[0] }}"> {{ entry[0] }}</a></td>
        <td><a href="../team/{{ entry[2] }}/{{ entry[0] }}">{{ entry[3] }} {{ entry[4] }}</a> </td>
        <td><a href="../player/{{ entry[5] }}">{{ entry[6] }}</a> </td>
        <td><a href="../player/{{ entry[7] }}">{{ entry[8] }}</a> </td>
        <td><a href="../player/{{ entry[9] }}">{{ entry[10] }}</a> </td>
    </tr>
    {% endfor %}
</table>

League History:  {{ league_history }}